<h1 id="root"><%= link_to "< Pokedex", root_path %></h1>
<p id="pokemon-appears-text">You hear a wild rustle in the tall grass...<br> A wild pokemon appears!</p>

<div class="pokemon-card-container">
  <div class="pokemon-card-single">
    <%= cl_image_tag @pokemon.photo.key %>
    <h2><%= @pokemon.name %></h2>
    <span><%= @pokemon.element_type %></span>
  </div>
  <div class="form-container">
    <h2>Do you dare to catch this Pokemon?</h2>
    <%= simple_form_for [@pokemon, @pokeball] do |f| %>
      <%= f.association :trainer, label: "Who's trying their luck?" %>
      <%= f.input :location, label: "Where are you?" %>
      <%= f.input :caught_on, html5: true, label: "When?" %>
      <%= f.submit "Catch!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
